body, html {
    overflow: hidden;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
  }
  
  .chat-container::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .chat-container::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategrey;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  h4 {
    display: flex;
    align-items: center;
  }
  
  h4 span {
    margin-right: 10px;
    flex-direction: row;
  }
  
  .logout-button {
    width: 100px;
    margin-left: 10px;
  }
  
  .chat-box {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 80px); /* subtract the height of the input container */
    background-color: rgb(211, 211, 211);
  }
  
  .chat-box::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .chat-box::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategrey;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    justify-content: space-between;
    align-items: center;
  }
  
  input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .send-button {
    flex-shrink: 0;
    background-color: aqua;
  }
